<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, maiores saepe necessitatibus perspiciatis praesentium deleniti nisi ullam molestias aut commodi autem accusantium qui nam fugit mollitia omnis dicta consectetur in.</p>
    <p  class="text-xs">N&uacute;mero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" /></p>
    <div>
        <app-wave-audio audioUrl="cinematic-synthwave.mp3" />
    </div>
</div>